.grid-container {
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.img-display{
    display: flex;
    align-items: center;
    width: 300px;
    height: 250px;
    padding: 50px 30px 50px 30px;
    background: #22333b;
    border-radius: 24px;
    margin-bottom: 20px;
    margin-left: 90px;
}

.img-display img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 24px;
}

/* .gd-info {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
} */