*{margin: 0; padding: 0;}

/* Responsive layout movil */

@media (min-width: 390px) and (max-width: 808px){

    hr{
        visibility: hidden;
    }


    nav {
        height: 60px;
    }

    nav a img {
        height: 45px;
        width: 45px;
    }

    .menu {
        visibility: hidden;
    }

    nav .burger {
        visibility: visible;
        background: none;
        border: none;
        height: 45px;
        width: 45px;
    }

    main .personal-bg {
        font-size: 50px;
        justify-content: left;
    }

    .bg-name {
        width: 50px;
        margin: 20px;
    }

    .grid-ex, .form-acad {
        padding: 10px 10px 0 10px;
    }

    .form-dt img {
        height: 35px;
        width: 35px;
    }

    .grid-dt img {
        height: 35px;
        width: 35px;
    }

    .grid-ex {
        display: grid;
        grid-template-columns: 100%;
    }

    .grid-dt {
        display: flex;
        align-items: center;
        padding: 20px 0 0 0;
        height: 100px;
        font-size: 10px;
    }

    .grid-dt p {
        visibility: hidden;
        width: 0;
        height: 1px;
    }

    .grid-dt h3 {
        font-size: 10px;
        width: 100%;
        margin-top: 0;
        margin-left: 15px;
    }

    .grid-dt h6 {
        font-size: 10px;
        width: 100%;
        margin-top: 0;
        margin-left: 15px;
    }

    .grid-dt div {
        margin: 10px;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    .form-acad {
        display: grid;
        grid-template-columns: 100%;
    }

    .form-dt {
        display: flex;
        align-items: center;
        padding: 0 0 0 0;
        height: 100px;
        font-size: 10px;
    }

    .form-dt p {
        visibility: hidden;
        width: 1;
        height: 1px;
    }

    .form-dt h3 {
        font-size: 10px;
        width: fit-content;
        margin-top: 0;
        margin-left: 10px;
        top: 0;
    }

    .form-dt h6 {
        visibility: hidden;
    }

    .form-dt div {
        margin: 10px;
        align-items: center;
    }


    .form-dt ul {
        visibility: hidden;
        width: 1px;
        height: 1px;
    }

    .grid-dt img {
        height: 40px;
    }

    footer h2 {
        font-size: 10px;
    }

    footer article {
        flex-direction: row;
        min-height: 140px;
        margin: -70px 20px 20px;
        padding: 30px 50px 30px;
    }

    footer article button {
        width: auto;
        height: 20px;
        padding: 0 20px 0 24px;
        font-size: 5px;
    }

    section.top ul {
        grid-template-columns: repeat(4, 1fr);
        padding-right: 0;
    }

    /* cambio de pagina a menu de galeria*/

    main .grid {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 0;
    }

    .card  {
        margin-left: 20px;
        width: 300px;
        height: 150px;
    }

    .card div {
        padding: 0 0 0 15px;
    }

    .card img {
        height: 60px;
        width: 60px;
        margin: 0;
    }

    .card h2 {
        font-size: 14px;
    }

    .card h3 {
        font-size: 10px;
    }

    .card p {
        font-size: 8px;
    }

    .card a {
        display: flex;
        justify-content: center;
        height:15px;
        width: 90%;
        padding: 0 0 0 0;
        font-size: 8px;
        padding: 0 0;
        margin-bottom: 5px;
    }

    /* Cambio de pagina galerias */

    .grid-container {
        display: grid;
        grid-template-columns: 90%;
    }

    /* Cambio de pagina de contacto */

    /* main form {
        width: 100%;
        display: grid;
        justify-content: center;
    } */

    form {
        width: 100%;
        justify-content: center;
    }

    form h1 {
        width: 50%;

    }

    form input {
        width: 100%;

    }

    form label {
        width: 100%;
    }

    form select {
        width: 100%;
    }

    form textarea {
        width: 100%;
    }

    form #btn-submit {

    }
    /* Menu tipo burger para vista movil */

    .menu-nav{
        position: fixed;
    }

    .background, nav .burger {
        position: relative;
        visibility: visible;
    }

    nav .burger {
        z-index: 4;
        top: 0;
        left: 0;
        display: grid;
        place-items: center;
        width: 88px;
        height: 88px;
        border: 0;
        padding: 0;
        background: transparent;
        cursor: pointer;
        background-image: url(../icons/menu.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    body.open .burger {
        background-image: url(../icons/close.png);
    }

    .background {
        position: fixed;
        z-index: 2;
        top: 44px;
        left: 44px;
        aspect-ratio: 1 / 1;
        translate: -50% -50%;
        height: 88px;
        background: rgb(0 0 0 / 0%);
        border-radius: 50%;
        transition: 0.6s;
    }

    body.open .background {
        height: 300vmax;
        background: rgb(0 0 0 / 80%);
    }

    body.open .menu-nav {
        opacity: 1;
        visibility: visible;
    }

    .menu-nav {
        z-index: 3;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.05s;
    }

    .menu-nav nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 100px;
    }

    body .menu-nav nav:hover > a{
        opacity: 0.25;
    }

    body .menu-nav nav > a:hover {
        opacity: 1;
        translate: 8px 0;
    }

    .menu-nav a {
        position: relative;
        color: #f9f9f9;
        font-size: 32px;
        padding: 20px 0 20px 0;
        text-decoration: none;
        opacity: 0;
        cursor: pointer;
        transition: 0.4s;
    }

    .menu-nav a::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -26px;
        translate: 0 -50%;
        margin-top: 2px;
        width: 10px;
        height: 10px;
        border-top:
            3px solid #fff;
        border-right:
            3px solid #fff;
        opacity: 0;
        rotate: 45deg;
        transition: 0.3s;
    }

    .menu-nav a:hover::after {
        opacity: 1;
    }

    @keyframes appear {
        0% {
            opacity: 0;
            transition: -30px 0;
        }
        100% {opacity: 1;}
    }

    body.open .menu-nav a {
        opacity: 1;
        animation:
            appear 0.25s backwards;
    }

    .titulo {
        visibility: hidden;
    }

}

/* Responsive Layout Tablet */

@media (min-width: 809px) and (max-width: 1130px) {
    nav {
        display: flex;
        width: 100%;

        /* text-align: right; */
    }

    .menu li {
        width: 100px;
    }

    main .personal-bg {
        height: 300px;
    }

    .personal-bg span{
        font-size: 60px;
        color: white;
        padding: 0 10px 0 10px;
        /* height: 90px; */
    }

    .grid-ex, .form-acad, .soc-icon {
        height: 250px;
    }

    .soc-icon img{
        height: 50px;
        width: 50px;
    }

    .grid-dt, .form-dt {

        text-align: center;

        p, ul, h6{
            visibility: hidden;
        }

        h3 {
            font-size: 14px;
        }

        h4 {
            font-size: 10px;
        }

        span {
            font-size: 8px;
        }
    }

    .grid-dt, .form-dt {
        /* display: flex; */
        justify-content: center;
    }

    /* Cambio de pagina en gallery */


    .grid {
        display: flex;
        justify-content: center;
        grid-template-columns: repeat(auto-fill,
        minmax(150px, 1fr));
        padding-top: 10px;
        gap: 30px;
    }


    .card {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 50px;
        width: 300px;
        height: 370px;
        justify-content: center;
    }

    .card img {
        margin: 0;
        height: 200px;
        /* padding: 0 50px 0 50px; */
        border-radius: 20px;
        margin-top: -100px;
    }

    .card div{

        h2{
            font-size: 20px;
            width: max-content;
        }

        h3{
            font-size: 14px;
        }

        p{
            visibility: hidden;
            height: 0;
            width: 0;
            font-size: 14px;
        }

        a{
            height: 6px;
        }
    }
    
    .grid-container {
        display: flex;
        flex-direction: column;
        
        img{
            height: 690px;
        }
    }
}