body {
    margin: 0;
    /* margin-bottom: 40px; */
    justify-content: space-between;
    height: 100hv;
    background: #1a2027;
    color: #fdfcfd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    width: 100%;
    /* padding: 0 60px 0 60px; */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    width: 100%;
    box-shadow: 
        0 0 10px
        rgb(0, 0, 0 / 8%);
}

.menu   {
    margin: 0;
    padding-top: 25px;
    display: flex;
    justify-content: 
        space-evenly;
    align-items: stretch;
    height: 50px;
}

.menu li {
    display: inline-block;
    width: 100px;
}

.menu li:hover .submenu{
    height: 40px;
}

.menu > li:hover > a {
    color: #3e95ff;
}

.menu > li:hover > a::before {
    visibility: visible;
    scale: 1 1;
}

.submenu {
    overflow: hidden;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    background: #3e95ff;
    height: 0;
    line-height: 40px;
    box-sizing: border-box;
    transition: 
        height 0.3s
        ease-in-out;
}

.menu li .submenu a {
    color: #fff;
    opacity: 0;
    font-size: 16px;
    transition: opacity 0.25s;
}

.menu > li:hover .submenu a {
    opacity: 1;
}

.menu > li .submenu a:hover {
    background: rgb(0, 0, 0 / 8%);
}

.menu > li a {
    color: #999;
    position: relative;
    height: 100%;
}

.menu > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 3px;
    left: 0px;
    background: #3e95ff;
    transition: 
        all 0.2s ease-in-out;
    scale: 0 0;
    visibility: hidden;
}

main .grid{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 60px 0 60px;
}

.card {
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 
        50px 30px 50px 20px;
    background: #121017;
    border-radius: 24px;
    margin-bottom: 20px;
    margin-left: 90px;
}

.card img {
    max-width: 280px;
    width: 35vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 
        0 60px 40px
        rgb(0, 0, 0 / 8%);
}

.card h2 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    opacity: 0.75;
}

.card p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.5;
}

.card a {
    display: grid;
    place-items: center;
    border: 0;
    background: #6939ff;
    color: #f8f8f8;
    padding: 16px 16px;
    font-size: 16px;
    border-radius: 40px;
    margin-bottom: 10px;
}

.bottom{
    margin: 0;
    padding-top: 40px;
    height: 100px;
    display: flex;
    justify-content: 
        center;
    align-items: stretch;
    height: 70px;
}

form {
    width: 550px;
    display: grid;
}

form h1 {
    text-align: center;
}

form input {
    width: 550px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 35px;
    text-align: center;
    background: #000;
    border-style: none;
    color: #fff;
}

form select {
    width: 557px;
    height: 40px;
    border-radius: 35px;
    text-align: center;
    background: #000;
    color: #fff;
    border-style: none;
}

form textarea {
    width: 554px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 35px;
    background: #000;
    border-style: none;
    resize: none;
}

form #btn-submit {
    width: 100px;
}

footer {
    position: static;
    margin-top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    background: #0a1435;
    color: #f9f9f9;
    width: 100%;
}

footer article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 20px 50px 40px;
    margin: -100px 20px 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, #773ecb, #2663ff);
}

footer article h2 {
    color: rgb(255 , 255, 255 / 70%);
}

footer article button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 40px 0 44px;
    width: 100%;
    background: #0a1536;
    border: 0;
    border-radius: 30px;
    color: #f9f9f9;
    font-family: inherit;
    font-size: 16px;
}

footer section {
    padding: 0 50px;
}

section.top {
    padding-top: 30px;
    margin-bottom: 48px;
}

section.top img {
    display: block;
    height: 30px;
    margin: 0 0 30px;
}

section.top ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

section.top ul li a{
    display: block;
    margin-bottom: 10px;
    color: rgb(255, 255, 255 / 90%);
}

section.top h3 {
    color: rgb(255, 255, 255 /40%);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

section.bottom {
    padding-top: 10px;
    border-top: 2px solid rgb(255, 255, 255 / 10%);
    color: rgb(255, 255, 255 / 40%);
    font-size: 13px;
}

@media (width <= 600px) {
    
    body main {
        display: grid;
    }

    h2 {

        justify-content: center;
    }

    .card {
        margin: 0 40px;
        margin-bottom: 80px;
        margin-top: 80px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 60px;
        width: 60%;
        text-align: center;
        flex-direction: column;
    }

    .card h2 { margin-right: 0;}

    .card img {
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
    }

    .card p { max-width: 360px;}
}

@media (width <= 440px) {

    .card img {
        height: 45vw;
        width: 45vw;
        border-radius: 50%;
        margin-top: -140px;
    }
    
    .card {
        margin-right: 50px;
    }
}

@media (width > 480px) {
    footer article button {
        width: 70%;
    }

    section.tio ul {
        padding-right: 10%;
    }
}

@media (width > 600px) {
    footer article {
        flex-direction: row;
        min-height: 140px;
        margin: -70px 20px 20px;
        padding: 30px 50px 30px;
    }

    footer article button {
        width: auto;
        padding: 0 20px 0 24px;
    }

    section.top ul {
        grid-template-columns: repeat(4, 1fr);
        padding-right: 0;
    }
}

/* input::-moz-focus-inner {
    background: #6939ff;
} */