body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#f9f9f9;
    background-color: #685f74;
}

.burger, .menu {
    position: fixed;
}

body nav {
    display: flex;
    height: 90px;
}

.burger{
    z-index: 4;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 88px;
    height: 88px;
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    background-image: url("./icons/menu.png");
    background-repeat: no-repeat;
    background-position: center;
}

body.open .burger {
    background-image: url("./icons/close.png");
}

.background {
    position: fixed;
    z-index: 2;
    top: 44px;
    left: 44px;
    aspect-ratio: 1 / 1;
    translate: -50% -50%;
    height: 88px;
    background: rgb(0, 0, 0 / 0%);
    border-radius: 50%;
    transition: 0.6s;
}

body.open .background {
    height: 300vmax;
    background: rgb(0, 0, 0 / 80%);
}

body.open .menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.05s;
}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
}

body .menu nav:hover > a {
    opacity: 0.25;
}

body .menu nav > a:hover {
    opacity: 1;
    translate: 8px 0;
}

.menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    padding: 20px 0 20px 0;
    text-decoration: none;
    opacity: 0;
    cursor: pointer;
    transition: 0.4s;
}

.menu a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -26px;
    translate: 0 -50%;
    margin-top: 2px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    opacity: 0;
    rotate: 45deg;
    transition: 0.3s;
}

.menu a:hover::after {
    opacity: 1;
}

@keyframes appear {
    0% {
        opacity: 0;
        translate: -30px 0;
    }
    100% {opacity: 1;}
}

body.open .menu a {
    opacity: 1;
    animation: appear 0.25s backwards;
}

body .main {
    margin-left: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0 40px 0 30px;
}

main .nav-section {
    padding: 0;
    margin: 0;
}

article {
    width: 150px;
    height: 100px;
}

ul {
    list-style: none;
}

nav {
    display: inline-flex;
    /* align-self: center; */
    justify-content: center;
}

.nav-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav.menu li {
    display: inline-block;
}

.card {
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 
        50px 30px 50px 20px;
    background: #2d2d34;
    border-radius: 24px;
    margin-bottom: 20px;
}

.card img {
    max-width: 280px;
    width: 35vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: inherit;
    border-top: #fff;
    border-right: #fff;
    box-shadow: 0 60 40px rgb(0, 0, 0 / 8%);
}

.card h2 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    opacity: 0.75;
}

.card p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.5;
}

.card a {
    display: grid;
    place-items: center;
    border: 0;
    background: #6939ff;
    color: #f8f8f8;
    padding: 16px 16px;
    font-size: 16px;
    border-radius: 40px;
    margin-bottom: 10px;
}