body {
    display: grid;
    place-items: center;
    margin: 0;
    height: 100hv;
    background: #1a2027;
    color: #fdfcfd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}