*{margin: 0; padding: 0;}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    justify-content: space-between;
    height: 100hv;
    background: #1a2027;
    color: #fdfcfd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    display: flex;
    width: 100%;
    box-shadow:
        0 0 10px
        rgb(0, 0, 0 / 8%);
    justify-content: space-between;
    align-items: center;
}

nav img {
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 10px 0 0 0;
}

nav .burger, .background, .menu-nav{
    visibility: hidden;
    position: fixed;
}

.menu   {
    margin: 0;
    padding-top: 25px;
    align-items: stretch;
    height: 48px;

    li {
        display: inline-block;
        width: 200px;
    }

}

.menu li:hover .submenu{
    height: 40px;
}

.menu > li:hover > a {
    color: #3e95ff;
}

.menu > li:hover > a::before {
    visibility: visible;
    scale: 1 1;
}

.submenu {
    overflow: hidden;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    background: #3e95ff;
    height: 0;
    line-height: 40px;
    box-sizing: border-box;
    transition:
        height 0.3s
        ease-in-out;
}

.menu li .submenu a {
    color: #fff;
    opacity: 0;
    font-size: 16px;
    transition: opacity 0.25s;
}

.menu > li:hover .submenu a {
    opacity: 1;
}

.menu > li .submenu a:hover {
    background: rgb(0, 0, 0 / 8%);
}

.menu > li a {
    color: #999;
    position: relative;
    height: 100%;
}

.menu > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 3px;
    left: 0px;
    background: #3e95ff;
    transition:
        all 0.2s ease-in-out;
    scale: 0 0;
    visibility: hidden;
}

main .grid{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px 60px 0 60px;
}

main .personal-bg {
    width: 100%;
    height: 600px;
    padding: 0 0 50px 0;
    display: flex;
    background-image: url("../imagenes/background.jpg");
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 400px;
    font-family: 'Poppins';

    h1{
        font-size: 100px;

    }
}

.cards {
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding:
        50px 30px 50px 20px;
    background: #121017;
    border-radius: 24px;
    margin-bottom: 20px;
    margin-left: 90px;


    img {
        max-width: 280px;
        width: 35vw;
        height: 300px;
        object-fit: cover;
        margin-left: -60px;
        margin-right: 30px;
        border-radius: inherit;
        box-shadow:
            0 60px 40px
            rgb(0, 0, 0 / 8%);
    }

    h2 {
        font-size: 26px;
        font-weight: 400;
        margin-top: 0;
        margin-right: 30px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        opacity: 0.75;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 30px;
        opacity: 0.5;
    }

    a {
        display: grid;
        place-items: center;
        border: 0;
        background: #6939ff;
        color: #f8f8f8;
        padding: 16px 16px;
        font-size: 16px;
        border-radius: 40px;
        margin-bottom: 10px;
    }
}


.bottom{
    margin: 0;
    padding-top: 40px;
    height: 100px;
    display: flex;
    justify-content:
        center;
    align-items: stretch;
    height: 70px;
}

footer {
    position: static;
    margin-top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    background: #0a1435;
    color: #f9f9f9;
    width: 100%;

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding: 20px 50px 40px;
        margin: -99px 20px 20px;
        border-radius: 10px;
        background: linear-gradient(90deg, #773ecb, #2663ff);
        h2 {
            color: rgb(255 , 255, 255 / 70%);
        }

        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            padding: 0 40px 0 44px;
            width: 100%;
            background: #0a1536;
            border: 0;
            border-radius: 30px;
            color: #f9f9f9;
            font-family: inherit;
            font-size: 16px;
        }
    }

    section {
        padding: 0 50px;
    }
}

section.top {
    padding-top: 30px;
    margin-bottom: 48px;

    img {
        display: block;
        height: 30px;
        margin: 0 0 30px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    li a{
        display: block;
        margin-bottom: 10px;
        color: rgb(255, 255, 255 / 90%);
    }
    h3 {
        color: rgb(255, 255, 255 /40%);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
    }

}

section.bottom {
    padding-top: 10px;
    border-top: 2px solid rgb(255, 255, 255 / 10%);
    color: rgb(255, 255, 255 / 40%);
    font-size: 13px;
}

.grid-container {
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.img-display{
    display: flex;
    align-items: center;
    width: 80%;
    height: fit-content;
    padding: 10px 10px 10px 10px;
    background: #22333b;
    border-radius: 24px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 24px;
    }

}


.grid-ex, .form-acad {
    display: grid;
    flex-direction: row;
    grid-template-columns: 33% 33% 33%;
    /* grid-template-rows: auto; */
    padding: 0 0 0 0;

    .grid-dt, .form-dt {
        padding: 0 0 0 0;
        height: 250px;
        align-items: center;

        /* justify-content: center; */
    }

}

main h2 {
    padding: 20px;
}
.grid-dt img {
    background: #fff;
    border-radius: 100%;
}

.form-acad h3 {
    font-size: 18px;
    padding: 8px 0 0 0;
}

.grid-dt h3 {
    font-size: 18px;
    padding: 8px 0 0 0;
}

.grid-dt, .form-dt p {
    width: 100%;
    font-size: 12px;
}

.form-dt img {
    background: #fff;
    background-size: 50px 50px;
    border-radius: 100%;
    height: 48px;
    width: 48px;
}

.contact-form {
    text-align: center;
    display: flex;
    justify-content: center;
    form{
        width: 30%;
        max-width: 45%;
    }
}


.soc-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 300px;
    color: #fff;

    div{
        display: flex;
        border-radius: 10px;
        width: 300px;
        height: 200px;
        justify-content: center;
        align-items: center;
    }

}

.soc-icon div:hover {
    padding: 0px 0 0 0px;
    
}


/* Responsive layout movil */

@media (min-width: 390px) and (max-width: 834px){

    hr{
        visibility: hidden;
    }


    nav {
        height: 60px;
        padding: 0 0 0 0;
    }

    nav a img {
        height: 45px;
        width: 45px;
    }

    .menu {
        visibility: hidden;
    }

    nav .burger {
        visibility: visible;
        background: none;
        border: none;
        height: 45px;
        width: 45px;
    }

    main .personal-bg {
        font-size: 50px;
        justify-content: left;

        h1{
            font-size: 60px;
        }
    }

    .bg-name {
        width: 50px;
        margin: 20px;
    }

    .grid-ex, .form-acad {
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 100%;
    }

    .grid-dt {
        display: flex;
        align-items: center;
        font-size: 12px;
        margin: 0 0 0 20px;
        div{
            img {
                height: 40px;
                width: 40px;
            }
    
            p{
                display: none;
                width: 1px;
                height: 1px;    
            }
    
            h3{
                /* font-size: 10px; */
                width: fit-content;
            }
    
            h6{
                /* font-size: 10px; */
                margin-left: 15px;
                visibility: hidden;
            }
        }
    }

    .form-dt {
        display: flex;
        align-items: center;
        font-size: 13px;
        margin: 0 0 0 20px;
        div {
            img {
                height: 40px;
                width: 40px;
            }
    
            p{
                visibility: hidden;
                width: 1;
                height: 1px;
            }
    
            h3{
                /* font-size: 10px; */
                width: fit-content;
            }
    
            h6{
                /* font-size: 10px; */
                margin-left: 15px;
                visibility: hidden;
            }
    
            ul{
                visibility: hidden;
                width: 1px;
                height: 1px;
            }
        }
    }

    .grid-dt img {
        height: 40px;
    }

    footer h2 {
        font-size: 10px;
    }

    footer article {
        flex-direction: row;
        min-height: 140px;
        margin: -70px 20px 20px;
        padding: 30px 50px 30px;
    }

    footer article button {
        width: auto;
        height: 20px;
        padding: 0 20px 0 24px;
        font-size: 5px;
    }

    section.top ul {
        grid-template-columns: repeat(4, 1fr);
        padding-right: 0;
    }

    /* cambio de pagina a menu de galeria*/

    main .grid {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 0;
    }

    .cards  {
        margin-left: 20px;
        width: 300px;
        height: 150px;
    }

    .cards div {
        padding: 0 0 0 15px;
    }

    .cards img {
        height: 60px;
        width: 60px;
        margin: 0;
    }

    .cards h2 {
        font-size: 14px;
    }

    .cards h3 {
        font-size: 10px;
    }

    .cards p {
        font-size: 8px;
    }

    .cards a {
        display: flex;
        justify-content: center;
        height:15px;
        width: 90%;
        padding: 0 0 0 0;
        font-size: 8px;
        padding: 0 0;
        margin-bottom: 5px;
    }

    /* Cambio de pagina galerias */

    .grid-container {
        display: grid;
        grid-template-columns: 90%;
        margin: 0;
    }

    .img-display{
        width: 70%;
        height: fit-content;
    }

    /* Formulario de contacto */

    .contact-form {
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        form{
            width: 50%;
        }
    }

    /* Responsive Blogs */

    section h1 {
        margin-top: 20px;
        text-align: center;
    }

    .grid-media {
        display: grid;
        justify-content: center;
        width: 90%;
        margin: 10px;

        .media-v{
            video{
                width: 70%;
                height: 190px;
            }
            h4{
                font-size: 14px;
            }
        }

    }

    /* Menu tipo burger para vista movil */

    .menu-nav{
        position: fixed;
    }

    .background, nav .burger {
        position: relative;
        visibility: visible;
    }

    nav .burger {
        z-index: 4;
        top: 0;
        left: 0;
        display: grid;
        place-items: center;
        width: 60px;
        height: 60px;
        border: 0;
        padding: 0;
        background: transparent;
        cursor: pointer;
        background-image: url(../icons/menu.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    body.open .burger {
        background-image: url(../icons/close.png);
    }

    .background {
        position: fixed;
        z-index: 2;
        top: 44px;
        left: 44px;
        aspect-ratio: 1 / 1;
        translate: -50% -50%;
        height: 88px;
        background: rgb(0 0 0 / 0%);
        border-radius: 50%;
        transition: 0.6s;
    }

    body.open .background {
        height: 300vmax;
        background: rgb(0 0 0 / 80%);
    }

    body.open .menu-nav {
        opacity: 1;
        visibility: visible;
    }

    .menu-nav {
        z-index: 3;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.05s;
    }

    .menu-nav nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 100px;
    }

    body .menu-nav nav:hover > a{
        opacity: 0.25;
    }

    body .menu-nav nav > a:hover {
        opacity: 1;
        translate: 8px 0;
    }

    .menu-nav a {
        position: relative;
        color: #f9f9f9;
        font-size: 32px;
        padding: 20px 0 20px 0;
        text-decoration: none;
        opacity: 0;
        cursor: pointer;
        transition: 0.4s;
    }

    .menu-nav a::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -26px;
        translate: 0 -50%;
        margin-top: 2px;
        width: 10px;
        height: 10px;
        border-top:
            3px solid #fff;
        border-right:
            3px solid #fff;
        opacity: 0;
        rotate: 45deg;
        transition: 0.3s;
    }

    .menu-nav a:hover::after {
        opacity: 1;
    }

    @keyframes appear {
        0% {
            opacity: 0;
            transition: -30px 0;
        }
        100% {opacity: 1;}
    }

    body.open .menu-nav a {
        opacity: 1;
        animation:
            appear 0.25s backwards;
    }

    .titulo {
        visibility: hidden;
    }

    .soc-icon {
        display: flex;
        justify-content: space-evenly;
        height: 100px;
    }

    .soc-icon div:hover {
        padding: 0 0 0 0;
    }

    .soc-icon div {
        display: flex;
        padding: 0 0 0 0;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
    }

    .soc-icon div img {
        height: 35px;
        width: 35px;
    }

}

/* Responsive Layout Tablet */

@media (min-width: 835px) and (max-width: 1440px)  {
    nav {
        display: flex;
        width: 100%;
    }

    .menu li {
        width: 100px;
    }

    main .personal-bg {
        height: 300px;
        h1{
            font-size: 90px;
    
        }
    }

    .personal-bg span{
        font-size: 60px;
        color: white;
        padding: 0 10px 0 10px;
    }

    .grid-ex, .form-acad, .soc-icon {
        height: 250px;
    }

    .soc-icon img{
        height: 50px;
        width: 50px;
    }

    .grid-dt, .form-dt {

        text-align: center;

        p, ul, h6{
            visibility: hidden;
        }

        h3 {
            font-size: 14px;
        }

        h4 {
            font-size: 10px;
        }

        span {
            font-size: 8px;
        }
    }

    .grid-dt, .form-dt {
        justify-content: center;
    }

    /* Cambio de pagina en gallery */


    .grid {
        display: flex;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        padding-top: 10px;
        gap: 30px;

        .cards {
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-top: 50px;
            width: 300px;
            height: 370px;
            justify-content: center;
    
            img {
                margin: 0;
                height: 200px;
                border-radius: 20px;
                margin-top: -100px;
            }
        }
    }

    .cards div{

        h2{
            font-size: 20px;
            width: max-content;
        }

        h3{
            font-size: 14px;
        }

        p{
            visibility: hidden;
            height: 0;
            width: 0;
            font-size: 14px;
        }

        a{
            height: 6px;
        }
    }
    
    .grid-container {
        display: flex;
        flex-direction: column;
        
        img{
            height: 690px;
        }
    }

    /* Pagina de Contacto */

    .contact-form {
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        form{
            width: 50%;
        }
    }

    /* burger para tablet */

    .menu-nav{
        position: fixed;
    }

    .background, nav .burger {
        position: relative;
        visibility: visible;
    }

    nav .burger {
        z-index: 4;
        top: 0;
        left: 0;
        display: grid;
        place-items: center;
        width: 0;
        height: 0;
        border: 0;
        padding: 0;
        background: transparent;
        cursor: pointer;
        background-image: url(../icons/menu.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    body.open .burger {
        background-image: url(../icons/close.png);
    }

    .background {
        position: fixed;
        z-index: 2;
        top: 44px;
        left: 44px;
        aspect-ratio: 1 / 1;
        translate: -50% -50%;
        height: 88px;
        background: rgb(0 0 0 / 0%);
        border-radius: 50%;
        transition: 0.6s;
    }

    body.open .background {
        height: 300vmax;
        background: rgb(0 0 0 / 80%);
    }

    body.open .menu-nav {
        opacity: 1;
        visibility: visible;
    }

    .menu-nav {
        z-index: 3;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.05s;
    }

    .menu-nav nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 100px;
    }

    body .menu-nav nav:hover > a{
        opacity: 0.25;
    }

    body .menu-nav nav > a:hover {
        opacity: 1;
        translate: 8px 0;
    }

    .menu-nav a {
        position: relative;
        color: #f9f9f9;
        font-size: 32px;
        padding: 20px 0 20px 0;
        text-decoration: none;
        opacity: 0;
        cursor: pointer;
        transition: 0.4s;
    }

    .menu-nav a::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -26px;
        translate: 0 -50%;
        margin-top: 2px;
        width: 10px;
        height: 10px;
        border-top:
            3px solid #fff;
        border-right:
            3px solid #fff;
        opacity: 0;
        rotate: 45deg;
        transition: 0.3s;
    }

    .menu-nav a:hover::after {
        opacity: 1;
    }

    @keyframes appear {
        0% {
            opacity: 0;
            transition: -30px 0;
        }
        100% {opacity: 1;}
    }

    body.open .menu-nav a {
        opacity: 1;
        animation:
            appear 0.25s backwards;
    }

    /* Barra de socials */

    .soc-icon {
        display: flex;
        justify-content: space-evenly;
        height: 150px;
    }

    .soc-icon div:hover {
        padding: 0 0 0 0;
    }

    .soc-icon div {
        display: flex;
        padding: 0 0 0 0;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
    }

    .soc-icon div img {
        height: 40px;
        width: 40px;
    }

}
